<nb-layout>
  <nb-layout-header fixed>
    <app-navbar></app-navbar>
  </nb-layout-header>
  <nb-layout-column>
    <app-voluntad [voluntadid]="voluntadid" [voluntad]="voluntad" [usernombre]="nombre" [reputacion]="reputacion"
      [divisa]="divisa" [monto]="monto">
    </app-voluntad>

    <nb-card>
      <nb-card-header>Propuestas presentadas para esta voluntad</nb-card-header>
      <nb-card-body>
        <app-propuesta *ngFor="let r of resultado" [username]="r.username" [cotizacion]="r.cotizacion" [monto]="r.monto"
          [voluntadid]="r.voluntadid" [propuestaid]="r.propuestaid">
        </app-propuesta>
      </nb-card-body>
    </nb-card>

    >
  </nb-layout-column>
</nb-layout>
