

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

.btn-group {
  height: 100px;
  width: 500px;

}

.aceptar {
  width: 45%;
  height: 45%;
  background-color: green;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.aceptar:hover {
  background-color: #3e8e41
}

.aceptar:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.rechazar {
  width: 45%;
  height: 45%;
  background-color: red;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.rechazar:hover {
  background-color: #990613
}

.rechazar:active {
  background-color: #990613;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
