<div class="card-row">
  <div class="card-col">
    <nb-card size="small" status="primary">
      <nb-card-header align="center">Voluntad</nb-card-header>
      <nb-card-body>
        <h4>{{ voluntad }} {{ divisa }} {{ monto }}!</h4>
        <h4>Nombre: {{ usernombre }}</h4>
      </nb-card-body>
      <nb-card-footer align="right">
        <button
          *ngIf="!isInDashboard"
          nbButton
          shape="round"
          (click)="verVoluntad()"
        >
          Ver
        </button>
        <button
          *ngIf="isInDashboard"
          nbButton
          shape="round"
          (click)="ingresarPropuesta()"
        >
          Ofertar!
        </button>
        <div class="calificacion">
          REPUTACIÓN:
          <a *ngFor="let number of numbers">&#9733; </a>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
