<nb-layout>
  <nb-layout-column class="padding0">
    <app-navbar></app-navbar>
    <br />
    <nb-card>
      <nb-card-header>Ingreso de Propuesta</nb-card-header>
      <nb-card-body>
        <br />

        <input
          shape="round"
          type="number"
          nbInput
          placeholder="Cotizacion ofrecida"
          [(ngModel)]="cotizacion"
          required
        /><br />
        <div *ngIf="voluntad.operacion === 1">
          <p>
            Usted va a vender {{ voluntad.monto }}
            {{ voluntad.divisa.codigoISO }} y recibirá un total de $
            {{ cotizacion * voluntad.monto }} con la cotización que ofrece
          </p>
        </div>
        <div *ngIf="voluntad.operacion === 2">
          <p>
            Usted va a comprar {{ voluntad.monto }}
            {{ voluntad.divisa.codigoISO }} y pagará un total de $
            {{ cotizacion * voluntad.monto }} con la cotización que ofrece
          </p>
        </div>

        <button nbButton shape="round" (click)="insertPropuesta()">
          Confirmar
        </button>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    Universidad Católica del Uruguay
  </nb-layout-footer>
</nb-layout>
