@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */

.clase1 {
  align-items: center;
  justify-content: flex-start;
  display: contents !important;
}

.clase2 {
  font-size: 0.875rem;
  height: 2.25rem;
  padding: 0 1.25rem;
  margin: 10px !important;
}

.navbar {
  width: 100%;
  align-self: center;
}
