<nb-layout>
  <nb-layout-column class="padding0">
    <app-navbar></app-navbar>
    <br />
    <nb-card center accent="primary" status="warning">
      <nb-card-header>Datos de la transaccion</nb-card-header>
      <nb-card-body>
        <div>Propuesta: {{ propuestaid }}</div>
        <br /><br />
        <div>Ofertante: {{ voluntadid }}</div>
        <br /><br />
        <div>Fecha: {{ fechaHora | date: 'dd/MM/yyyy' }}</div>
        <br /><br />
        <div>Cotización: {{ cotizacion }}</div>
        <br /><br />
        <div>Calificación del usuario voluntad: {{ califUsuarioVoluntad }}</div>
        <br /><br />
        <div>
          Calificación del usuario propuesta: {{ califUsuarioPropuesta }}
        </div>
        <br /><br />
        <div>Cotización del BROU: {{ cotizacionBCU }}</div>
        <br /><br />
        <b>
          <div>Ahorro: ${{ ahorro }}</div>
        </b>

        <br />

        <br /><br />
        <button nbButton shape="round" [routerLink]="['/dashboard']">
          Volver
        </button>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer fixed>
    Universidad Católica del Uruguay
  </nb-layout-footer>
</nb-layout>
