<nb-layout>
  <nb-layout-column class="padding0">
    <app-navbar></app-navbar>
    <br />
    <nb-card center status="warning">
      <nb-card-header>Datos de la Transacción</nb-card-header>
      <nb-card-body>
        <div><strong>Fecha:</strong> {{ fechaHora | date: 'dd/MM/yyyy' }}</div>
        <br />
        <nb-card center status="warning">
          <nb-card-header>Voluntad</nb-card-header>
          <nb-card-body>
            <strong>Divisa:</strong> {{ voluntadDivisa }} <br />
            <strong>Descripción:</strong> {{ voluntadDivisaDesc }} <br />
            <strong>Monto:</strong> {{ voluntadMonto }} <br />
            <strong>Operación:</strong> {{ voluntadOperacion }} <br />
            <strong>Usuario:</strong> {{ voluntadUsuario }}
          </nb-card-body>
        </nb-card>
        <nb-card center status="warning">
          <nb-card-header>Propuesta aceptada</nb-card-header>
          <nb-card-body>
            <strong> Cotización ofrecida:</strong> {{ propuestaCotizOf }}
            <br />
            <strong> Usuario:</strong> {{ propuestaUsuario }}
          </nb-card-body>
        </nb-card>
        <div>
          <strong>Calificación del usuario de la voluntad:</strong>
          {{ califUsuarioVoluntad }}
        </div>
        <br /><br />
        <div>
          <strong>Calificación del usuario de la propuesta:</strong>
          {{ califUsuarioPropuesta }}
        </div>
        <br /><br />
        <div>
          <strong>Cotización del BROU ese día:</strong> $ {{ cotizacionBCU }}
        </div>
        <br /><br />
        <b>
          <div><strong>Ahorro:</strong> $ {{ ahorro }}</div>
        </b>

        <br />

        <button nbButton shape="round" [routerLink]="['/dashboard']">
          Volver
        </button>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer fixed>
    Universidad Católica del Uruguay
  </nb-layout-footer>
</nb-layout>
